<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Untitled Document</title>
  <link href="layout.css" type="text/css" rel="stylesheet" />
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#999999">&nbsp;</td>
    <td width="600" bgcolor="#cccccc" height="75" class="sides"><img src="images/logo.gif" /></td>
    <td bgcolor="#999999">&nbsp;</td>
  </tr>
  <tr>
    <td height="10" bgcolor="#ff3300" class="topborder" colspan="3"><img src="images/spacer.gif" /></td>
  </tr>
  <tr>
    <td height="6" bgcolor="#cc0000" class="bottomborder" colspan="3"><img src="images/spacer.gif" /></td>
  </tr>
</table>
<table align="center" bgcolor="#cccccc" height="400" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="sides" width="600">BODY</td>
  </tr>
</table>
</body>
</html>